@import url("root.css");
@import url("bootstrap-redefined.css");
@import url("color.css");
@import url("buttons.css");
@import url("icons.css");
@import url("nav.css");
@import url("search-form.css");
@import url("new-note.css");
@import url("note.css");

html, body {
    box-sizing: border-box;
    height: 100%;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: .018em;
}
body {
    background-color: #202124;
    color: rgb(200, 195, 204);
}
.header {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}
.header__body {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    padding: 0 20px;
}

main {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    height: calc(100% - 64px);
}