.notes-container,
.notes__header  {
    width: 100%;
}
.notes,
.notes > div,
.notes-container__body,
.note-item__list,
.note-checklist,
.main__body {
    display: flex;
}
.main__body,
.notes {
    flex-direction: column;
}
.notes-container__body {
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
.notes {
    border-radius: 5px;
    margin: 5px;
    /* width: 240px; */
    background-color: var(--dark);
    flex: 0 0 0 auto;
    width: 16.66667%;
}
.notes__header,
.note-item {
    padding: 10px 20px;
}
.notes-container__header {
    margin: 18px;
}
.note-checklist {
    flex-direction: row;
}
.note-item__label del {
    color: rgb(130, 130, 130);
}
.notes__header {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.notes__title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.note-item__list {
    flex-direction: column;
    gap: .7rem;
}
.notes_footer {
    flex: 1 0 auto;
    font-size: .9rem;
}